*{
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: "DM Sans";
    background-color: #fff;
    background-size: cover;
  }

  a {
    text-decoration: none;
  }

  .header {
    width: 100%;
    top: 0;
    text-align: center;
  }

  .clear {
    clear: left;
  }

  .container {
    margin: 0 auto;
    padding: 180px 0px;
    width: 698px;
  }

  h1 {
    font-weight: 700;
    color: #170F49;
    font-size: 34px;
    margin: 0 auto;
    padding-bottom: 12px;
  }

  p {
    margin: 0 auto;
    font-weight: 400;
    color: #6F6C90;
    font-size: 18px;
  }

  .content {
    background: #FFFFFF;
    border: 1px solid #EFF0F7;
    box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
    border-radius: 34px;
    max-width: 100%;
    height: 606px;
    margin: 42px 0px;
  }

  .progress {
    margin: 30px 50px 60px 50px;
    border-bottom: 1px solid #D9DBE9;
    display: flex;
  }

  .circle {
    border-radius: 50%;
    background-color: #EFF0F6;
    margin: 32px 18px;
    width: 34px;
    height: 34px;
    color: #6F6C90;
    font-weight: 400;
    text-align: center;
    padding: 7px 0px;
  }

  .circle.active {
    background-color: #4A3AFF;
    color: #fff;
  }

  .progress-bar {
    border-radius: 40px;
    height: 6px;
    width: 98px;
    margin: 46px 0px;
    background-color: #EFF0F7;
  }

  .progress-value {
    background-color: #4A3AFF;
    border-radius: 40px;
    height: 6px;
    width: 98px;
  }

.progress-value.empty {
  width: 0;
}

.progress-value.half {
  width: 50%;
}

.content-section {
  margin: 64px 50px 80px 50px;
}

.content-section.submission {
  margin: 0 auto;
  text-align: center;
  padding: 0px 100px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
  margin: 0px 0px 7px 0px;
}

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 56px;
  margin: 0 auto;
}

.next {
  background-color: #4A3AFF;
  box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
  color: #fff;
  float: right;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 700;
  border: none;
}

.next:hover {
  opacity: 80%;
}

.submission .next {
  float: none;
  margin-top: 20px;
}

.prev {
  background-color: #fff;
  box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
  color: #4A3AFF;
  border: 1px solid #4A3AFF;
  float: left;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 700;
}

.prev:hover {
  opacity: 80%;
}

.btn-container .hide {
  display: none;
}

.submission img {
  max-width: 150px;
  margin-bottom: 23px;
}

form {
  margin-top: 40px;
  display: flex;
  row-gap: 22px;
  column-gap: 28px;
  flex-wrap: wrap;
}

.radio-container {
  width: 284px;
  height: 115px;
  background: #FFFFFF;
  border: 1px solid #EFF0F7;
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
  border-radius: 16px;
  margin: 0 auto;
  color: #170F49;
  font-weight: 500;
  font-size: 18px;
  padding: 40px 33px;
}

.box-container {
  width: 284px;
  height: 115px;
  background: #FFFFFF;
  margin: 0 auto;
  color: #170F49;
  font-weight: 500;
  font-size: 18px;
}

.input-container {
  margin-top: 17px;
  background: #FFFFFF;
  border: 1px solid #EFF0F7;
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
  border-radius: 46px;
  width: 284px;
  height: 66px;
  padding: 22px 25px;
}

.input-container img {
  max-width: 25px;
  max-height: 25px;
  float: right;
}

input::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #6F6C90;
}

input {
  float: left;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 20px;
  font-weight: 400;
  font-size: 18px;
  color: #170F49;
}

.form-service .radio-container {
  padding: 0;
  display: flex;
}

.form-service h4 {
  padding: 20px 0px;
}

.image-container {
  background-color: #e1dfff;
  border-radius: 50%;
  width: 66px;
  height: 66px;
  justify-content: center;
  display: flex;
  margin: 24px 12px 24px 24px;
}

.form-service img {
  margin: auto;
  max-width: 60%;
  max-height: 60%;
}

.form-service input[type="radio"] {
  margin: 0 auto;
  display: none;
}

.form-budget input[type="radio"] {
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 12px;
}

input[type="radio"] {
  height: 25px;
  width: 25px;
  margin-right: 0.5rem;
  appearance: none;
  /* Safari support */
  -webkit-appearance: none;
  border: 1px solid #D9DBE9;
  background-color: #fff;
  border-radius: 50%;
}

input[type="radio"]:checked {
  background: #FFF;
  border: 8px solid #4A3AFF;
}

.radio-container:has(input[type="radio"]:checked) {
  border: 2px solid #4A3AFF;
}

.form-budget img {
  display: none;
}

.error-msg {
  font-weight: 400;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 25px;
  color: #962DFF;
}

label:has(.error-msg) {
  color: #962DFF;
}

.input-container:has(+ .error-msg) {
  border-color: #962DFF;
}
